<!--este es para agregar, editar, eliminar contenidos para que los usuarios puedan ver de estos-->
{% extends "administradores/layout_admin_homepage.html" %}
{%block body %}
    <div class ="row"><h3>Reportes</h3></div>
    <div class = "row">
        <div class="col-md-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-10">
            <h4>Tiene los siguientes reportes disponibles:</h4>
            <a href="/admin_reporte1" class="btn btn-secondary btn-block">REPORTE TOP 10 GENEROS DE CONTENIDO MAS VISTO EN UN RANGO DE FECHAS</a>
            <a href="/delete_contenido" class="btn btn-danger btn-delete btn-block">REPORTE CANTIDAD DE REPRODUCCIONES POR TIPO DE CUENTA EN UN RANGO DE FECHAS</a>
            <a href="/agregar_actor_contenido" class="btn btn-primary btn-block">REPORTE TOP 10 DIRECTORES Y ACTORES DE LAS PELICULAS QUE HAN VISTO LOS PERFILES ESTANDAR Y AVANZADO</a>
            <a href="/agregar_director_contenido" class="btn btn-primary btn-block">REPORTE CANTIDAD DE CUENTAS AVANZADAS CREADAS EN LOS ULTIMOS 6 MESES</a>
            <a href="/agregar_genero_contenido" class="btn btn-success btn-block">REPORTE HORA PICO DONDE SE UTILIZA MAS EL SERVICIO PARA UNA FECHA ESPECIFICA</a>
        </div>
    </div>
{% endblock%}