<!--este es para agregar, editar, eliminar contenidos para que los usuarios puedan ver de estos-->
{% extends "administradores/layout_admin_homepage.html" %}
{%block body %}
    <div class ="row"><h3>REPORTE</h3></div>
    <div class ="row"><h3>TOP 10 DIRECTORES Y ACTORES DE LAS PELICULAS QUE HAN VISTO LOS PERFILES ESTANDAR Y AVANZADO</h3></div>
    <div class = "row">
        <div class="col-md-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-10">
            <br>
            <p>Lista de Directores</p>
            <table id="directores" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <td>Director</td>
                        <td>Cantidad de Visualizaciones</td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in list_directores %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <p>Lista de Actores</p>
            <table id="actores" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <td>Actor</td>
                        <td>Cantidad de Visualizaciones</td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in list_actores %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock%}