<!--este es para agregar, editar, eliminar contenidos para que los usuarios puedan ver de estos-->
{% extends "administradores/layout_admin_homepage.html" %}
{%block body %}
    <div class ="row"><h3>Reportes</h3></div>
    <div class = "row">
        <div class="col-md-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-10">
            <h4>Tiene los siguientes reportes disponibles:</h4>
            <a href="/edit_contenido" class="btn btn-secondary btn-block">Reporte Top 10 Generos de Contenido Mas Visto En Un Rango de Fechas</a>
            <a href="/delete_contenido" class="btn btn-danger btn-delete btn-block">Reporte Cantidad de Reproducciones por Tipo de Cuenta En Un Rango de Fechas</a>
            <a href="/agregar_actor_contenido" class="btn btn-primary btn-block">Reporte Top </a>
            <a href="/agregar_director_contenido" class="btn btn-primary btn-block">Director</a>
            <a href="/agregar_genero_contenido" class="btn btn-success btn-block">Generos</a>
            <a href="/agregar_premio_contenido" class="btn btn-warning btn-block">Premios</a>
        </div>
    </div>
{% endblock%}