<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>conexion con la base de datos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class ="navbar-brand" href="/">python</a>
        </nav>

        <div class="container pt-4">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>